* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	background: #fff;
}

body form {
	background: #fff;
	margin-left: 15px;
}

body form button.selected {
	background: #fff;
	margin-left: 5px;
	background-color: #bdd4f9;
	padding: 5px 2px;
}

#menu p {
	background: #fff;
	margin-left: 15px;
}

#menu {
	background: #384047;
	height: 60px;
	padding: 0 5px 0;
	text-align: center;
}

.icon {
	float: right;
	padding: 2px;
	cursor: pointer;	
}

.iconT {
	float: right;
	padding: 2px;
	cursor: pointer;	
}

.delButt {
	background-color: orange;
  border: 1px solid hsla(300,100%,25%, 0.5);
  border-radius: 3px;	
  padding: 3px;
}

.grid-sizer,
.grid-item {
  width: 20%;
}

.grid-item {
  float: left;
  border: 2px solid hsla(300,100%,25%, 0.5);
  border-radius: 5px;  
  padding: 3px;
}

.grid-item img {
  display: block;
  max-height: 100%;
  max-width: 100%;
}

.comment {
	text-align: center;
}

.title {
	padding: 5px;
	font-weight: bold;
	font-size: larger;
	text-align: left;
}

ul {
	list-style: none;
}

ul li {
	display: inline-block;
	width: 84px;
	text-align: center;
}

ul li.twitterLog {
	position: relative;
	right: auto;
	margin-left: 50%;
	line-height: 60px;
}

ul li img {
	cursor: pointer;
}

ul li a {
	color: #fff;
	width: 100%;
	cursor: pointer;
	line-height: 60px;
	text-decoration: none;
}

ul li.selected {
	background: #fff;
}

ul li.selected a {
	color: #384047;
}

select {
	width: 94%;
	margin: 11px  0 11px 2%;
	float: left;
}


h1 {
	margin: 40px 0 10px;
	text-align: center;
	color: #384047;
}

@media (min-width: 320px) and (max-width: 568px) {
  #menu ul {
    display:none;
  }
}

@media (min-width: 568px) {
  #menu select, #menu button {
    display:none;
  }
}

.hide{
  display:none;  
}