* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	background: #fff;
}

body form {
	background: #fff;
	margin-left: 15px;
}

body form button.selected {
	background: #fff;
	margin-left: 5px;
	background-color: #bdd4f9;
	padding: 5px 2px;
}

#menu p {
	background: #fff;
	margin-left: 15px;
}

#menu {
	background: #384047;
	height: 60px;
	padding: 0 5px 0;
	text-align: center;
}

.grid-item-content {
  float: left;
  background: #D26;
  border: 2px solid hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

.grid-item-content img {
  max-width: 300px;
}

.icon {
	float: right;
}

.grid-item-content--height2 { height: 200px; }

.comment {
	font-weight: bold;
	font-size: larger;
	text-align: center;
}

ul {
	list-style: none;
}

ul li {
	display: inline-block;
	width: 84px;
	text-align: center;
}

ul li.twitterLog {
	position: relative;
	right: auto;
	margin-left: 50%;
	line-height: 60px;
}

ul li img {
	cursor: pointer;
}

ul li a {
	color: #fff;
	width: 100%;
	cursor: pointer;
	line-height: 60px;
	text-decoration: none;
}

ul li.selected {
	background: #fff;
}

ul li.selected a {
	color: #384047;
}

select {
	width: 94%;
	margin: 11px  0 11px 2%;
	float: left;
}


h1 {
	margin: 40px 0 10px;
	text-align: center;
	color: #384047;
}

@media (min-width: 320px) and (max-width: 568px) {
  #menu ul {
    display:none;
  }
}

@media (min-width: 568px) {
  #menu select, #menu button {
    display:none;
  }
}

.bookList {
  width: 30%;
  height: auto;
  margin: 10px;
  border: 3px solid black;
  margin-left: 25px;
  text-align: left;
}

.bookList p {
	float:left;
	margin-left: 15px;
	color:black;
  text-align: left;	
}

.bookList a {
	float:left;
	margin-left: 15px;
	color:black;	
  text-align: left;	
}

.bookButt {
	width: 82px;
}

.bookImage{
	float: left;
}

.owned{
  width: 30%;
  height: auto;
  margin: 10px;
  border: 5px solid red;
  margin-left: 25px;
  text-align: left;
}
.owned p {
	float:left;
	margin-left: 15px;
	color:black;
  text-align: left;	
}

.owned a {
	float:left;
	margin-left: 15px;
	color:black;	
  text-align: left;	
}

.tradeList {
	width: auto;
  height: auto;
  margin: 10px;
  border-bottom: 1px solid black;
  margin-left: 25px;
  text-align: left;
}

.tradeList p {
	float:left;
	margin-left: 15px;
	color:black;
  text-align: left;	
}

.tradeList a {
	float:left;
	margin-left: 15px;
	color:black;	
  text-align: left;	
}

.tradeList button {
	margin-left: 15px;
	height: 50px;
  text-align: center;	
  padding-left: 15px;
  padding-right: 15px;
}


.hide{
  display:none;  
}