doctype html
html(lang="en" ng-app="")
  head
    title Chat Example
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="style.css")
    link(rel="stylesheet" href="/css/bootstrap-responsive.min.css")
    style.
      body {
      padding-top: 60px;
      }
  body
    #menu
      ul#menuUL
        li
          a(href="index.html") Home
        li.selected
          a(href="#") All Books
        li
          a(href="contact.html") My Books
        li
          a(href="support.html") Settings
          h1= variable
    br
    script(src="/socket.io/socket.io.js")
    script(src="/js/jquery.min.js")
    script(src="/client.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/angular.min.js")
